<section class="chat">
  <div class="chat__header">
    <div>
      <h2 class="chat__title">ChemDry Chat</h2>
      <p class="chat__description">Chat with an anonymous person</p>
    </div>
    <button class="chat__button-close">x</button>
  </div>
  <div class="chat__content-wrapper">
    <div class="chat__content">
      <div class="chat__message-box">
        <div class="chat__message">
          Oh, you better not know, since we are learning a very complicated topic on how to create cool animations in CSS.
        </div>
      </div>
      <div class="chat__message-box">
        <div class="chat__message chat__message_to">
          Cool! Can you teach me too?
        </div>
      </div>
      <div class="chat__message-box">
        <div class="chat__message">
          No, I won’t just teach you, come to us for courses at DL Academy and then you will not be taught this!
        </div>
      </div>
      <div class="chat__message-box">
        <div class="chat__message chat__message_to">
          Damn, I was hoping so, well, I’ll start walking soon, see you!
        </div>
      </div>
      <div class="chat__message-box">
        <div class="chat__message">
          Good, all the best.
        </div>
      </div>
    </div>
  </div>
</section>