// about-block
.about {
  padding-top: 143px;
  padding-bottom: 143px;
  min-height: 720px;
  background-image: url(/static/images/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  &__title {
    margin-top: 8px;
    max-width: 800px;
    font-weight: 900;
    font-size: 90px;
    line-height: 90px;
    color: #00559D;
    letter-spacing: -1px;
  }
  
  &__button {
    margin-top: 40px;
  }
}


.grid-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px -10px -10px;

  &__item {
    padding: 10px;
    width: 25%;
  }
}

// services-block
.services {
  margin-top: 80px;
  margin-bottom: 110px;

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    color: #00559D;
  }
}

// why-us-block
.why-us {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 110px;
  margin-bottom: 106px;

  &__content {
    width: calc(100% / 12 * 5);
    margin-top: 7px;
  }

  &__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;  
    color: #005DAB;
  }

  &__description {
    margin-top: 37px;
    max-width: 475px;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
  }

  &__link {
    margin-top: 24px;
  }

  &__image-wrapper {
    position: relative;
    width: calc(50% - 10px);

    &::before {
      content: "";
      position: absolute;
      right: -110px;
      top: 30px;
      z-index: -1;
      width: calc(100% - 10px);
      height: calc(100% + 70px);
      background-color: #008752;
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 74%;
    }
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


// partners-block
.partners {
  margin-top: 80px;
  margin-bottom: 80px;

  &__list {
    display: flex;
    justify-content: space-between;
  }
}

.partner {
  max-width: 90px;
  width: 100%;
}


.popup-open {
  overflow: hidden;
}

.popup-open .popup {
  display: flex;
}

.popup {
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(149, 69, 154, 0.9);

  &__button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-image: url(/static/images/poup-close-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
  }
}

