@import "./../../components/vars";


// about-block
.about {
  padding-top: 143px;
  padding-bottom: 143px;
  min-height: 720px;
  background-image: url(/static/images/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  &__title {
    margin-top: 8px;
    max-width: 800px;
    font-weight: 900;
    font-size: 90px;
    line-height: 90px;
    color: #00559D;
    letter-spacing: -1px;
  }
  
  &__button {
    margin-top: 40px;
  }
}


.grid-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px -10px -10px;
  @media screen and (max-width: $md) {
    margin-top: 35px;
  }

  &__item {
    padding: 10px;
    width: 25%;
    @media screen and (max-width: $md) {
      width: 50%;
    }
  }
}

// services-block
.services {
  margin-top: 80px;
  margin-bottom: 110px;

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    color: #00559D;

    @media screen and (max-width: $lg) {
      font-size: 36px;
      line-height: 43px;
    }
    
    @media screen and (max-width: $md) {
      font-size: 24px;
      line-height: 29px;
    }
  }
}

// why-us-block
.why-us {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 110px;
  margin-bottom: 106px;

  @media screen and (max-width: $md) {
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
  }
  &__content {
    width: 100% / 12 * 5;
    margin-top: 7px;
    
    @media screen and (max-width: $md) {
      order: 2;
      width: 100%;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;  
    color: #005DAB;
    @media screen and (max-width: $lg) {
      font-size: 48px;
      line-height: 48px;
    }
    @media screen and (max-width: $md) {
      font-size: 36px;
      line-height: 39px;
    }
  }

  &__description {
    margin-top: 37px;
    max-width: 475px;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    @media screen and (max-width: $lg) {
      font-size: 16px;
      line-height: 25px;
      margin-top: 34px;
    }
    @media screen and (max-width: $md) {
      font-size: 14px;
      line-height: 22px;
      max-width: initial;
      margin-top: 24px;
    }

  }

  &__link {
    margin-top: 24px;
  }

  &__image-wrapper {
    position: relative;
    width: calc(50% - 10px);
    box-shadow: 110px 99px 0px 0px rgba(0,135,82,1);
    position: relative;
    padding-top: 40%;
    overflow: hidden;
    @media screen and (max-width: $md) {
      box-shadow: 20px 20px 0px 0px rgba(0,135,82,1);
      width: 100%;
      margin-bottom: 17px;
      padding-top: 49%;
    }
  }
  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100.5%;
    height: 100.5%;
    max-width: initial;
  }
}


// partners-block
.partners {
  margin-top: 80px;
  margin-bottom: 80px;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: $md) {
      margin: 0 -20px;
    }
    @media screen and (max-width: 400px) {
      margin: 0 -10px;
    }
  }
}

.partner {
  margin-top: 25px;
  max-width: 130px;
  width: 100%;

  @media screen and (max-width: $md) {
    padding: 0 20px;
    margin-top: 35px;
  }
  @media screen and (max-width: 400px) {
    padding: 0 10px;
  }

  &__link {
  }
}


.popup-open {
  overflow: hidden;
}

.popup-open .popup {
  display: flex;
}

.popup {
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(149, 69, 154, 0.9);

  &__button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-image: url(/static/images/poup-close-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
  }
}

