.header {
  display: flex;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 33px;

  @media screen and (max-width: $md) {
    padding-top: 20px;
    padding-bottom: 20px;
    
  }

  &__mobile-button {
    display: none;
    margin-right: 24px;
    width: 24px;
    height: 17px;
    
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    cursor: pointer;

    outline: none;
    border: none;
    @media screen and (max-width: $md) {
      display: flex;
    }
  }

  &__mobile-icon {
    width: 24px;
    height: 3px;
    background-color: #95459A;
  }


  &__nav {
  
    @media screen and (max-width: $md) {
      display: none;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
    @media screen and (max-width: $xl) {
      margin-left: 15px;
    }
  }

  &__item {
    margin-right: 15px;
  }

  &__link,
  &__phone {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
  }
  
  &__link {
    color: #333333;

    transition: color $duration linear;
    &:hover {
      color: #888888;
    }

    &:active {
      color: #aaaaaa;
    }
  }

  &__phone {
    margin-left: auto;
    color: #95459A;

    transition: color $duration linear;
    &:hover {
      color: #D665DD;
    }
    &:active {
      color: #722A77;
    }
    @media screen and (max-width: $md) {
      margin: 0 auto;
    }
  }
  &__link-contact {
    margin-left: 25px;
    @media screen and (max-width: $md) {
      display: none;
    }
  }

  &__logo {
    display: block;
    @media screen and (max-width: $xl) {
      max-width: 97px;
    }
  }
}

.mobile-header {
  display: block;
  
  &::before {
    z-index: 2;
    background-color: rgba(149, 69, 154, 0.9);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &__content {
    // padding: 5px 20px 50px 20px;
    z-index: 2;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #EEEEEE;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    transition: transform $duration, $duration box-shadow $duration ;
    transform: translateX(-110%);
  }

  &_open {
    &::before {
      content: "";
    }
    .mobile-header__content { 
      box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.25);
      transform: translateX(0);
    }
    .mobile-header__close-button {
      display: block;
    }
    
  }
  &__wraper {
    padding: 25px 20px 50px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__nav {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 30px;
  }

  &__close-button {
    color: #FFF;
    position: fixed;
    top: 25px;
    right: 45px;
    z-index: 2;
    background-color: transparent;
    border: none;
    font-size: 25px;
    padding: 0;
    display: none;
  }

  &__link {
    display: block;
    margin-top: 25px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
  }

  &__phone {
    display: block;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;

    color: #95459A;

    margin-bottom: 21px;
  }

  &__link-contact {
    min-width: 247px;
  }

}