.header {
  display: flex;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 33px;

  &__list {
    display: flex;
    margin-left: 25px;
  }

  &__item {
    margin-right: 15px;
  }

  &__link,
  &__phone {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
  }
  
  &__link {
    color: #333333;

    transition: color $duration linear;
    &:hover {
      color: #888888;
    }

    &:active {
      color: #aaaaaa;
    }
  }

  &__phone {
    margin-left: auto;
    color: #95459A;

    transition: color $duration linear;
    &:hover {
      color: #D665DD;
    }
    &:active {
      color: #722A77;
    }
  }
  &__link-contact {
    margin-left: 25px;
  }
}