<header class="header container">
    <a href="/" class="header__logo-link">
        <img src="/static/images/logo.png" alt="Site logo" class="header__logo">
    </a>
    <!-- <nav aria-label="Навигация по сайту" class="header__nav">
        <ul class="header__list">
            <li class="header__item">
                <a href="#" class="header__link">Catalog</a>
            </li>
            <li class="header__item">
                <a href="#" class="header__link">Servises</a>
            </li>
            <li class="header__item">
                <a href="#" class="header__link">Blog</a>
            </li>
            <li class="header__item">
                <a href="#" class="header__link">About us</a>
            </li>
        </ul>
    </nav> -->

    <a href="tel:7194319698" class="header__phone">719-431-9698</a>
    <a href="/pages/contact-us" class="button header__link-contact">CONTACT US</a>

    <!-- <div class="mobile-header mobile-header_open">
        <button class="mobile-header__close mobile-header__close_js">X</button>
        <div class="mobile-header__content">
            <div class="mobile-header__wraper">
                <a href="/" class="mobile-header__logo-link">
                    <img src="/static/images/logo.png" alt="Site logo" class="mobile-header__logo">
                </a>
                <nav aria-label="Навигация по сайту" class="mobile-header__nav">
                    <ul class="mobile-header__list">
                        <li class="mobile-header__item">
                            <a href="#" class="mobile-header__link">Catalog</a>
                        </li>
                        <li class="mobile-header__item">
                            <a href="#" class="mobile-header__link">Servises</a>
                        </li>
                        <li class="mobile-header__item">
                            <a href="#" class="mobile-header__link">Blog</a>
                        </li>
                        <li class="mobile-header__item">
                            <a href="#" class="mobile-header__link">About us</a>
                        </li>
                    </ul>
                </nav>
                <div>
                    <a href="tel:7194319698" class="mobile-header__phone">719-431-9698</a>
                    <a href="/pages/contact-us" class="button mobile-header__link-contact">CONTACT US</a>
                </div>
            </div>
        </div>
    </div> -->
</header>