.footer {
  padding-top: 50px;
  padding-bottom: 53px;
  background-color: #00559D;
}

.social-networks {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 52px;    
    color: #FFFFFF;
    letter-spacing: -0.2px;
  }

  &__list {
    display: flex;
  }

  &__item:not(:first-child) {
    margin-left: 16px;
  }

  &__link {
    display: block;
    width: 58px;
    height: 58px;
    background-repeat: no-repeat;
    background-size: contain;

    transition: opacity $duration linear;
    &:hover {
      opacity: 0.5;
    }
 
    &:active {
      opacity: 0.7;
      filter: invert(1);
    }

    &.facebook {
      background-image: url(/static/images/socials/facebook.svg);
    }

    &.twitter {
      background-image: url(/static/images/socials/twitter.svg);
    }

    &.google {
      background-image: url(/static/images/socials/google.svg);
    }

    &.linkedin {
      background-image: url(/static/images/socials/linkedin.svg);
    }

    &.youtube {
      background-image: url(/static/images/socials/youtube.svg);
    }
  }
}